
input{
border-radius: 5px;
}

.form-title{
padding: 10;
width: auto fit
display: ruby-text;
color: whitesmoke;
}

.search-form{
float: left;
margin-left: 20px;
text-align: left;
}
#response_info_search, #response_info_del{
color: whitesmoke;
float: right;
}
#form{
float: left:
}
#stu_info{
margin-right: 150px;
border-collapse: collapse;
border-color: whitesmoke;
border: 1px;
}

