
input{
border-radius: 5px;
}

.form-title{
padding: 10;
width: auto fit
display: ruby-text;
color: white;
}

.del-form{
padding: 10;
float: left;
display: block;
}
#response_info_search, #response_info_del{
color: white;
float: right;
}


