html {
    height: 100%;
    width: 100%;
}

body {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}
i{
color: whitesmoke;
align: center;
}
em{
color: whitesmoke;
align: center;
}

.wrap{
height: 100%;
background-color: grey;
text-align: center;
}

.title{
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 15%;
  font-size: 40px;
  color: white;
}

.info-account{
display: flex;
align-items: center;
top: 50%;
position: absolute;
left: 40%;
}

.info-system{
display: flex;
align-items: center;
position: absolute;
top: 70%;
right: 36%;
}
.p-title{
color: whitesmoke;
align: center;
position: center;
}
em{
position: center;
align: center;
color: white;
}
a{
cursor: pointer;
}
