<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Admin</title>
      <link rel="stylesheet" href="{{ url_for('static',filename='css/admin_main.css') }}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/admin_nav.css') }}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/student.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  
  <body>

             <div class="topnav">
                  <div class="navlink" >
                      <a  href="/student_main"  >Home</a>
                  </div>

                 <div class="navlink" >
                      <a  href="/student_diplom_project"  >Дипломен проект</a>
                 </div>

                 <div class="navlink" >
                      <a  href="/student_prof_change"  >Моят Профил</a>
                 </div>
                 
                  <div class="navlink" style="float:right">
                      <a target=_parent href="{{ url_for('logout') }}">Изход</a>
                  </div>
            </div>

             <div class="wrap">

                  <div class="information">
                      <h3>Дипломна работа</h3>

                  </div>
                  <br>

                  <div class="uploads">
                      <form action="/student_diplom_project_upload" method="post" enctype="multipart/form-data">
                          <div>
                              <h3>Качване на дипломна работа</h3>
                          </div>
                          <div>
                          <label for="file">Избери файл</label>
                          <input id="file" name="file" type="file" accept=".doc,.docx,.pdf">
                          </div>
                          <br>
                          <div>
                          <button>Submit</button>
                          </div>


                      </form>

                  </div>
                  <br>
                  <div class="downloads">
                      <h3>Сваляне и Редактиране</h3>
                      <a class="btn btn-success" href="/student_diplom_project_download">Свали</a>
                  </div>

             </div>

  </body>


<script>



</script>
</html>
